.logoImg{
    background-color: black;
    width: 50px;
}

.navArea{
    /* border:1px solid red; */
}

.navList{
    /* border:1px solid blue; */
    font-size:25px !important;
    font-weight:bold;
}

.navList a:hover{
    color: #2596be !important;
}


.navbarLink{
    font-weight:bold;
    font-size:20px;
    /* padding-right:10px; */
    text-decoration:none;
    height:40px;
    color: white; 
}

.navbarArea{
    /* border: 2px solid black; */
    background-color:#595775;
}

.navbarLink:hover{
    color: #583E2E;    
}

.brandTitle{
    font-style: italic;
    font-family: 'Lobster', cursive;
    color: white; 
}


/* .brandButton{
    background-image: linear-gradient(to right,palevioletred, pink);
    width:100px;
    height:40px;
    color: white;
    border-radius:15px;
    border:1px solid white;
    font-weight: bold;
} */

/* .brandButton:hover{
    color: gray;
} */