.project-icon a{
    /* border: 1px solid red; */
    /* padding: 20px; */
    /* margin-top:50px; */
    margin-right: 50px;
    font-size:35px;
    color: rgb(55, 176, 224);
}

.project-icon a:hover{
    color:skyblue;
}

/* .boxStyle{
    box-shadow: 5px 5px 5px gray;
} */