*{
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.brandColor{
  color: #583E2E;
}

.brandButton{
  width:100px;
  padding:10px;
  background-color:#BF988F;
  color: white;
  border-radius: 10px;
  border: 1px solid #BF988F;
  margin-right: 50px;
}

.brandButton:hover{
  background-color:#595775;
}